{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "PH24 API",
    "description" : "PH24 API",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://ph24.io/service",
    "description" : "Generated server url"
  } ],
  "tags" : [ {
    "name" : "social-login",
    "description" : "the social-login API"
  }, {
    "name" : "support",
    "description" : "the support API"
  }, {
    "name" : "webhosting",
    "description" : "the webhosting API"
  }, {
    "name" : "authentication",
    "description" : "the authentication API"
  }, {
    "name" : "translation",
    "description" : "the translation API"
  }, {
    "name" : "vps",
    "description" : "the vps API"
  }, {
    "name" : "cloud-key-pair",
    "description" : "the cloud-key-pair API"
  }, {
    "name" : "cloud-network",
    "description" : "the cloud-network API"
  }, {
    "name" : "accounting",
    "description" : "the accounting API"
  }, {
    "name" : "cloud-kc",
    "description" : "the cloud-kc API"
  }, {
    "name" : "util",
    "description" : "the util API"
  }, {
    "name" : "customer-identity-verification",
    "description" : "the customer-identity-verification API"
  }, {
    "name" : "confirm",
    "description" : "the confirm API"
  }, {
    "name" : "cloud-load-balancer",
    "description" : "the cloud-load-balancer API"
  }, {
    "name" : "cloud-compute",
    "description" : "the cloud-compute API"
  }, {
    "name" : "notification",
    "description" : "the notification API"
  }, {
    "name" : "api-key",
    "description" : "the api-key API"
  }, {
    "name" : "cloud-identity",
    "description" : "the cloud-identity API"
  }, {
    "name" : "cloud-firewall",
    "description" : "the cloud-firewall API"
  }, {
    "name" : "cloud-certificate",
    "description" : "the cloud-certificate API"
  }, {
    "name" : "SSH Keys",
    "description" : "SSH key management endpoints"
  }, {
    "name" : "mail-log",
    "description" : "the mail-log API"
  }, {
    "name" : "customer",
    "description" : "the customer API"
  }, {
    "name" : "payment",
    "description" : "the payment API"
  }, {
    "name" : "cloud-volume",
    "description" : "the cloud-volume API"
  }, {
    "name" : "cloud",
    "description" : "the cloud API"
  }, {
    "name" : "api-request-log",
    "description" : "the api-request-log API"
  }, {
    "name" : "IPAM - rDNS",
    "description" : "Customer endpoints for rDNS management"
  }, {
    "name" : "accounting-price",
    "description" : "the accounting-price API"
  }, {
    "name" : "service",
    "description" : "the service API"
  } ],
  "paths" : {
    "/v1/support/ticket/{ticketId}" : {
      "get" : {
        "tags" : [ "support" ],
        "summary" : "Get ticket details",
        "operationId" : "getTicketDetails",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Ticket details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketDetailsV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketDetailsV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "support" ],
        "summary" : "Add ticket answer",
        "operationId" : "addTicketAnswer",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddTicketAnswerRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Ticket details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketDetailsV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketDetailsV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "support" ],
        "summary" : "Close ticket",
        "operationId" : "closeTicket",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Ticket closed"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/social-login" : {
      "get" : {
        "tags" : [ "social-login" ],
        "summary" : "List social login links",
        "operationId" : "listSocialLoginLinks",
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "List of social login links",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SocialLoginLinkV1Dto"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SocialLoginLinkV1Dto"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "social-login" ],
        "summary" : "Social login",
        "operationId" : "socialLogin",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SocialLoginRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Login successful"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        }
      },
      "post" : {
        "tags" : [ "social-login" ],
        "summary" : "Start social login",
        "operationId" : "startSocialLogin",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SocialLoginStartRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "URL response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlResponseV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlResponseV1Dto"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "social-login" ],
        "summary" : "Social login linking action",
        "operationId" : "socialLoginLinking",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SocialLoginLinkingRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Action executed"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/payment/method" : {
      "get" : {
        "tags" : [ "payment" ],
        "summary" : "Get payment methods",
        "operationId" : "getPaymentMethods",
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Payment methods",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentMethodV1Dto"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentMethodV1Dto"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "payment" ],
        "summary" : "Register payment method",
        "operationId" : "registerPaymentMethod",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentMethodRegisterRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Registration successful"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "payment" ],
        "summary" : "Add payment method",
        "operationId" : "addPaymentMethod",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentMethodAddRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Request successful (URL)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentMethodAddResponseV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentMethodAddResponseV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/payment/method/settings" : {
      "get" : {
        "tags" : [ "payment" ],
        "summary" : "Get payment method settings",
        "operationId" : "getPaymentMethodSettings",
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Payment method settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentMethodSettingsV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentMethodSettingsV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "payment" ],
        "summary" : "Update payment method settings",
        "operationId" : "updatePaymentMethodSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentMethodSettingsV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Payment method settings updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/payment/method/default" : {
      "get" : {
        "tags" : [ "payment" ],
        "summary" : "Get default payment method",
        "operationId" : "getDefaultPaymentMethod",
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Default payment method",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultPaymentMethodResponseV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultPaymentMethodResponseV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "payment" ],
        "summary" : "Set default payment method",
        "operationId" : "setDefaultPaymentMethod",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentMethodDefaultRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Updated default payment method"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/notification" : {
      "get" : {
        "tags" : [ "notification" ],
        "summary" : "Get notification settings",
        "operationId" : "getNotificationSettings",
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Notification settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/NotificationEventRegistrationV1Dto"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/NotificationEventRegistrationV1Dto"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "notification" ],
        "summary" : "Update notification settings",
        "operationId" : "updateNotificationSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/NotificationEventRegisterV1Dto"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Notification settings updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/notification/provider/{notificationProviderRegistrationUuid}" : {
      "put" : {
        "tags" : [ "notification" ],
        "summary" : "Update webhook notification provider registration",
        "operationId" : "updateNotificationProviderRegistration",
        "parameters" : [ {
          "name" : "notificationProviderRegistrationUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 36,
            "minLength" : 36,
            "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWebhookNotificationProviderRegistrationRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Updated successfully"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "notification" ],
        "summary" : "Delete notification provider registration",
        "operationId" : "deleteNotificationProviderRegistration",
        "parameters" : [ {
          "name" : "notificationProviderRegistrationUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 36,
            "minLength" : 36,
            "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Deleted successfully"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/volume/{volumeId}" : {
      "get" : {
        "tags" : [ "cloud-volume" ],
        "summary" : "Get cloud volume",
        "operationId" : "getCloudVolume",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "volumeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud volume",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudVolumeV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudVolumeV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-volume" ],
        "summary" : "Update cloud volume",
        "operationId" : "updateCloudVolume",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "volumeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudVolumeRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud volume updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-volume" ],
        "summary" : "Delete cloud volume",
        "operationId" : "deleteCloudVolume",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "volumeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud volume deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/server/{serverId}" : {
      "get" : {
        "tags" : [ "cloud-compute" ],
        "summary" : "Get cloud server",
        "operationId" : "getCloudServer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud server info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudServerInfoV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudServerInfoV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-compute" ],
        "summary" : "Update cloud server",
        "operationId" : "updateCloudServer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudServerRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud server updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-compute" ],
        "summary" : "Delete cloud server",
        "operationId" : "deleteCloudServer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud server deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/router/{routerId}" : {
      "get" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Get cloud router",
        "operationId" : "getCloudRouter",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "routerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud router info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudRouterInfoV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudRouterInfoV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Update cloud router",
        "operationId" : "updateCloudRouter",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "routerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudRouterRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud router updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Delete cloud router",
        "operationId" : "deleteCloudRouter",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "routerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud router deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/network/{networkId}" : {
      "get" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Get cloud network",
        "operationId" : "getCloudNetwork",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud network info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudNetworkInfoV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudNetworkInfoV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Update cloud network",
        "operationId" : "updateCloudNetwork",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudNetworkRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud network updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Delete cloud network",
        "operationId" : "deleteCloudNetwork",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud network deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/network/{networkId}/subnet/{subnetId}" : {
      "put" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Update cloud network subnet",
        "operationId" : "updateCloudNetworkSubnet",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subnetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudNetworkSubnetRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud network subnet updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-network" ],
        "summary" : "Delete cloud network subnet",
        "operationId" : "deleteCloudNetworkSubnet",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subnetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud network subnet deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/load-balancer/{loadBalancerId}" : {
      "get" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Get cloud load balancer",
        "operationId" : "getCloudLoadBalancer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud load balancer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Update cloud load balancer",
        "operationId" : "updateCloudLoadBalancer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudLoadBalancerRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Delete cloud load balancer",
        "operationId" : "deleteCloudLoadBalancer",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/load-balancer/{loadBalancerId}/target/{loadBalancerTargetId}" : {
      "get" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Get cloud load balancer target",
        "operationId" : "getCloudLoadBalancerTarget",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud load balancer target",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerTargetV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerTargetV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Update cloud load balancer target",
        "operationId" : "updateCloudLoadBalancerTarget",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudLoadBalancerTargetRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Delete cloud load balancer target",
        "operationId" : "deleteCloudLoadBalancerTarget",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/load-balancer/{loadBalancerId}/target/{loadBalancerTargetId}/member/{loadBalancerTargetMemberId}" : {
      "get" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Get cloud load balancer target member",
        "operationId" : "getCloudLoadBalancerTargetMember",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetMemberId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud load balancer target member",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerTargetMemberV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerTargetMemberV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Update cloud load balancer target member",
        "operationId" : "updateCloudLoadBalancerTargetMember",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetMemberId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudLoadBalancerTargetMemberRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target member updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Delete cloud load balancer target member",
        "operationId" : "deleteCloudLoadBalancerTargetMember",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetMemberId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target member deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/load-balancer/{loadBalancerId}/target/{loadBalancerTargetId}/health-monitor/{loadBalancerTargetHealthMonitorId}" : {
      "get" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Get cloud load balancer target health monitor",
        "operationId" : "getCloudLoadBalancerTargetHealthMonitor",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetHealthMonitorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud load balancer target health monitor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerHealthMonitorV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerHealthMonitorV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Update cloud load balancer target health monitor",
        "operationId" : "updateCloudLoadBalancerTargetHealthMonitor",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetHealthMonitorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudLoadBalancerHealthMonitorRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target health monitor updated"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Delete cloud load balancer target health monitor",
        "operationId" : "deleteCloudLoadBalancerTargetHealthMonitor",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerTargetHealthMonitorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "204" : {
            "description" : "Cloud load balancer target health monitor deleted"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/cloud/project/{projectId}/load-balancer/{loadBalancerId}/source/{loadBalancerSourceId}" : {
      "get" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Get cloud load balancer source",
        "operationId" : "getCloudLoadBalancerSource",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerSourceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "200" : {
            "description" : "Cloud load balancer source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerSourceV1Dto"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudLoadBalancerSourceV1Dto"
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "cloud-load-balancer" ],
        "summary" : "Update cloud load balancer source",
        "operationId" : "updateCloudLoadBalancerSource",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerSourceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCloudLoadBalancerSourceRequestV1Dto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Login400ResponseV1Dto"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
